<p>
    <strong>Chúng tôi đã gửi một thư xác nhận đến địa chỉ email của bạn: {{email}}</strong>
    Thư xác nhận có hiệu lực trong vòng 6 giờ. Vui lòng kiểm tra thư để kích hoạt tài khoản

    <button type="button">Gửi lại thư xác nhận</button>
</p>
